:root {
  --background: #f5f5dc;
  --foreground: #302218;
  --text-color: #f5f5dc;
  --title-color: #f5f5dc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f160f;
    --foreground: #f5f5dc;
    --text-color: #1f160f;
    --title-color: #1f160f;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.carrousel{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.carrousel-item{
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.carrousel > * {
  flex: 0 0 auto;
  scroll-snap-align: start;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}