.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--foreground);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
}
.brand{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--title-color);
}
.brand_area{
    display: flex;
    align-items: center;
}
.brand_area img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.search button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: var(--foreground);
    color: var(--background);
    cursor: pointer;
    margin-left: 10px;
}

.menu_options{
    display: flex;
    align-items: center;
}

.menu_options ul{
    display: flex;
    list-style: none;
}

.menu_options ul li{
    margin-right: 20px;
}

.menu_options ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
}
.menu ul{
    display: flex;
    list-style: none;
}

.menu ul li{
    margin-right: 20px;
}

.menu ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
}

.menu ul li a:hover{
    color: var(--text-color);
}


.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--foreground);
}

.brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--title-color);
}

.brand_area {
  display: flex;
  align-items: center;
}

.brand_area img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.search button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: var(--foreground);
  color: var(--background);
  cursor: pointer;
  margin-left: 10px;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}

.menu ul li a:hover {
  color: var(--title-color);
}

.user {
  display: flex;
  align-items: center;
}

.user_area {
  display: flex;
  align-items: center;
}

.user_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user_image button{
  background: var(--foreground);
  color: var(--background);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.user_dropdown_content{
  display: none;
  position: absolute;
  background-color: var(--foreground);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.user_register button{
  background: var(--foreground);
  color: var(--background);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* src/app/page.module.css */
.hero {
  position: relative;
  background-image: url('/Wallpaper.webp');
  background-size: cover;
  background-position: center;
  height: 600px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(0, 0, 0, 0.356);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.textareaContainer {
  position: relative;
  display: inline-block;
}

.textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  overflow:hidden;
  background-color:#FFF;
  color:#222;
  font-family:Courier, monospace;
  font-weight:normal;
  font-size:24px;
  resize:none;
  line-height:40px;
  padding-left:100px;
  padding-right:100px;
  padding-top:45px;
  padding-bottom:34px;
  background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat:repeat-y, repeat;
  -webkit-border-radius:12px;
  border-radius:12px;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  border-top:1px solid #FFF;
  border-bottom:1px solid #FFF;
}

.textarea::placeholder{
  color:#999;
  font-family: "Imperial Script", cursive;
  font-size:50px; 
  font-weight:normal;
}

.submitButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--primary-color);
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: var(--primary-color-dark);
}

.feed{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feed .feed_title{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: #000 1px solid;
  margin-top: 10px;
  color: var(--text-color);
}

.feed .feed_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.feed .feed_list .post{
  background: rgba(0, 0, 0, 0.356);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 10px;
}

.feed .feed_list .post .post_card_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed .feed_list .post .post_card_header h3{
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

.post_card_text{
  color: #fff;
  margin-top: 20px;
}

.post_card_button{
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.feed_detale {
  font-style: italic;
  margin: 20px 0;
  padding: 10px 20px;
  border-left: 4px solid var(--primary-color);
  background-color: var(--background);
  color: var(--text-color);
  position: relative;
}

.feed_detale::before {
  content: open-quote;
  font-size: 2rem;
  position: absolute;
  left: -20px;
  top: -10px;
  color: var(--primary-color);
}

.feed_detale::after {
  content: close-quote;
  font-size: 2rem;
  position: absolute;
  right: -20px;
  bottom: -10px;
  color: var(--primary-color);
}
.poem{
  font-style: italic;
  margin: 20px 0;
  padding: 10px 20px;
  border-left: 4px solid var(--primary-color);
  background-color: var(--background);
  color: var(--text-color);
  position: relative;
}

.poem_strofe{
  font-style: italic;
  margin: 20px 0;
  padding: 10px 20px;
  border-left: 4px solid var(--primary-color);
  background-color: var(--background);
  color: var(--text-color);
  position: relative;
}
.post_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.post_footer .post_author{
  display: flex;
  align-items: center;
}

.post_footer .post_author img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post_footer .post_author h4{
  color: #fff;
}

.post_footer .post_author p{
  color: #fff;
  font-style: italic;
}

.post_footer .poem_details{
  display: flex;
  align-items: center;
}

.post_actions{
  display: flex;
  align-items: center;
}

.post_actions button{
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.post_actions button:hover{
  background: var(--primary-color-dark);
}

.post_actions button:disabled{
  background: #ccc;
  cursor: not-allowed;
}
.post_actions ul{
  display: flex;
  list-style: none;
}

.post_actions ul li{
  margin-right: 20px;
}

.post_actions ul li a{
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}

.post_actions ul li a:hover{
  color: var(--title-color);
}

.post_tags{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.post_tags ul{
  display: flex;
  list-style: none;
}

.post_tags ul li{
  margin-right: 20px;
}

.post_tags ul li a{
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}

.post_comment{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.add_comment{
  display: flex;
  align-items: center;
  width: 100%;
}

.add_comment textarea{
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
  resize: none;
  width: 100%;
  margin-right: 10px;
}

.add_comment button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: var(--foreground);
  color: var(--background);
  cursor: pointer;
  margin-left: 10px;
}

.comment_list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.comment_list .comment{
  background: rgba(0, 0, 0, 0.356);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 10px;
}

.comment_list .comment_author{
  display: flex;
  align-items: center;
}

.comment_list .comment_text{
  color: #fff;
  margin-top: 20px;
}

